<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Stages Prediction</title>
  </head>

<body>
 <div class="login">
	<h1>Stages prediction - fermentation</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_expenses')}}"method="post">
    	<input type="text" name="f_timeh" placeholder="f_timeh" required="required" />
        <input type="text" name="DO_live" placeholder="DO_live" required="required" />
	<input type="text" name="rpm_live" placeholder="rpm_live" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Stages</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>